<a href="https://colab.research.google.com/github/gchaewon/ML_team11/blob/main/preprocessing_test.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 서울시 버스 승하차 예측 데이터 전처리 - test

In [ ]:
import pandas as pd
import numpy as np
import warnings; warnings.filterwarnings('ignore')

## 1. 데이터 로딩

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

23.9 ~ 23.11까지 월별 서울시 버스 승하차 데이터

In [ ]:
path = '/content/drive/MyDrive/Euron/프로젝트/'


test_files = ['bus_23_9.csv', 'bus_23_10.csv', 'bus_23_11.csv']

test_df = [pd.read_csv(path+'test/'+f, encoding='cp949') for f in test_files]

test = pd.concat(test_df)

print(test.shape)
test.head(1)

(125576, 57)

,사용년월,노선번호,노선명,표준버스정류장ID,버스정류장ARS번호,역명,00시승차총승객수,00시하차총승객수,1시승차총승객수,1시하차총승객수,...,20시하차총승객수,21시승차총승객수,21시하차총승객수,22시승차총승객수,22시하차총승객수,23시승차총승객수,23시하차총승객수,교통수단타입코드,교통수단타입명,등록일자
0,202309,N37,N37번(송파공영차고지~진관공영차고지),100000001,1001,종로2가사거리(00032),11,18,168,236,...,0,0,0,0,0,0,0,51,서울심야버스,20231003

In [ ]:
test.tail(1)

,사용년월,노선번호,노선명,표준버스정류장ID,버스정류장ARS번호,역명,00시승차총승객수,00시하차총승객수,1시승차총승객수,1시하차총승객수,...,20시하차총승객수,21시승차총승객수,21시하차총승객수,22시승차총승객수,22시하차총승객수,23시승차총승객수,23시하차총승객수,교통수단타입코드,교통수단타입명,등록일자
41563,202311,9707,9707번(고양 가좌동~영등포역),999800005,~,가좌동종점(종점가상)(00078),0,4,0,4,...,6,0,7,0,4,0,4,50,서울광역버스,20231203

## 2. 전처리

### 1) 불필요한 피처 삭제

등록일자, 교통수단타입코드, 버스정류장ARS번호, 노선명

In [ ]:
test.columns

Index(['사용년월', '노선번호', '노선명', '표준버스정류장ID', '버스정류장ARS번호', '역명', '00시승차총승객수',
       '00시하차총승객수', '1시승차총승객수', '1시하차총승객수', '2시승차총승객수', '2시하차총승객수', '3시승차총승객수',
       '3시하차총승객수', '4시승차총승객수', '4시하차총승객수', '5시승차총승객수', '5시하차총승객수', '6시승차총승객수',
       '6시하차총승객수', '7시승차총승객수', '7시하차총승객수', '8시승차총승객수', '8시하차총승객수', '9시승차총승객수',
       '9시하차총승객수', '10시승차총승객수', '10시하차총승객수', '11시승차총승객수', '11시하차총승객수',
       '12시승차총승객수', '12시하차총승객수', '13시승차총승객수', '13시하차총승객수', '14시승차총승객수',
       '14시하차총승객수', '15시승차총승객수', '15시하차총승객수', '16시승차총승객수', '16시하차총승객수',
       '17시승차총승객수', '17시하차총승객수', '18시승차총승객수', '18시하차총승객수', '19시승차총승객수',
       '19시하차총승객수', '20시승차총승객수', '20시하차총승객수', '21시승차총승객수', '21시하차총승객수',
       '22시승차총승객수', '22시하차총승객수', '23시승차총승객수', '23시하차총승객수', '교통수단타입코드',
       '교통수단타입명', '등록일자'],
      dtype='object')

In [ ]:
test = test.drop(['등록일자', '교통수단타입코드', '버스정류장ARS번호', '노선명'], axis =1)
test.columns

Index(['사용년월', '노선번호', '표준버스정류장ID', '역명', '00시승차총승객수', '00시하차총승객수', '1시승차총승객수',
       '1시하차총승객수', '2시승차총승객수', '2시하차총승객수', '3시승차총승객수', '3시하차총승객수', '4시승차총승객수',
       '4시하차총승객수', '5시승차총승객수', '5시하차총승객수', '6시승차총승객수', '6시하차총승객수', '7시승차총승객수',
       '7시하차총승객수', '8시승차총승객수', '8시하차총승객수', '9시승차총승객수', '9시하차총승객수', '10시승차총승객수',
       '10시하차총승객수', '11시승차총승객수', '11시하차총승객수', '12시승차총승객수', '12시하차총승객수',
       '13시승차총승객수', '13시하차총승객수', '14시승차총승객수', '14시하차총승객수', '15시승차총승객수',
       '15시하차총승객수', '16시승차총승객수', '16시하차총승객수', '17시승차총승객수', '17시하차총승객수',
       '18시승차총승객수', '18시하차총승객수', '19시승차총승객수', '19시하차총승객수', '20시승차총승객수',
       '20시하차총승객수', '21시승차총승객수', '21시하차총승객수', '22시승차총승객수', '22시하차총승객수',
       '23시승차총승객수', '23시하차총승객수', '교통수단타입명'],
      dtype='object')

### 2) 심야 시간 10시 ~ 5시 데이터 삭제

In [ ]:
hours_to_drop = ['22시승차총승객수', '22시하차총승객수', '23시승차총승객수', '23시하차총승객수',
                 '00시승차총승객수', '00시하차총승객수', '1시승차총승객수', '1시하차총승객수',
                 '2시승차총승객수', '2시하차총승객수', '3시승차총승객수', '3시하차총승객수',
                 '4시승차총승객수', '4시하차총승객수', '5시승차총승객수', '5시하차총승객수']

test = test.drop(columns=hours_to_drop, axis=1)

In [ ]:
test.head(1)

,사용년월,노선번호,표준버스정류장ID,역명,6시승차총승객수,6시하차총승객수,7시승차총승객수,7시하차총승객수,8시승차총승객수,8시하차총승객수,...,17시하차총승객수,18시승차총승객수,18시하차총승객수,19시승차총승객수,19시하차총승객수,20시승차총승객수,20시하차총승객수,21시승차총승객수,21시하차총승객수,교통수단타입명
0,202309,N37,100000001,종로2가사거리(00032),0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,서울심야버스

### 3) 심야버스 제거

In [ ]:
test = test[test['교통수단타입명'] != '서울심야버스']
count = test[test['교통수단타입명'] == '서울심야버스'].shape[0]
print(f'서울심야버스인 행의 개수: {count}')

서울심야버스인 행의 개수: 0

### 4) 역 고유번호 피처 추가 & 역명 피처 제거

역명 뒤 다섯자리

In [ ]:
test['역번호'] = test['역명'].str.extract(r'\((\d+)\)')
test.drop('역명', axis=1, inplace=True)
test.tail(1)

,사용년월,노선번호,표준버스정류장ID,6시승차총승객수,6시하차총승객수,7시승차총승객수,7시하차총승객수,8시승차총승객수,8시하차총승객수,9시승차총승객수,...,18시승차총승객수,18시하차총승객수,19시승차총승객수,19시하차총승객수,20시승차총승객수,20시하차총승객수,21시승차총승객수,21시하차총승객수,교통수단타입명,역번호
41563,202311,9707,999800005,0,0,0,0,0,16,0,...,0,2,0,5,0,6,0,7,서울광역버스,00078

### 5) 피처명 변경
- month(월 단위)
- bus_station_SID (표준버스정류장ID)
- bus_station_ID (역명 뒤 다섯자리)
- bus_ID(노선 번호)
- type(교통 수단 타입명)
- X~Y ride(1시간 단위 승차 총 승객 수)
- X~Y takeoff(1시간 단위 하차 총 승객 수)

In [ ]:
test.columns

Index(['사용년월', '노선번호', '표준버스정류장ID', '6시승차총승객수', '6시하차총승객수', '7시승차총승객수',
       '7시하차총승객수', '8시승차총승객수', '8시하차총승객수', '9시승차총승객수', '9시하차총승객수', '10시승차총승객수',
       '10시하차총승객수', '11시승차총승객수', '11시하차총승객수', '12시승차총승객수', '12시하차총승객수',
       '13시승차총승객수', '13시하차총승객수', '14시승차총승객수', '14시하차총승객수', '15시승차총승객수',
       '15시하차총승객수', '16시승차총승객수', '16시하차총승객수', '17시승차총승객수', '17시하차총승객수',
       '18시승차총승객수', '18시하차총승객수', '19시승차총승객수', '19시하차총승객수', '20시승차총승객수',
       '20시하차총승객수', '21시승차총승객수', '21시하차총승객수', '교통수단타입명', '역번호'],
      dtype='object')

In [ ]:
columns={'사용년월':'month', '노선번호': 'bus_ID', '표준버스정류장ID': 'bus_station_ID',
        '교통수단타입명':'type', '역번호': 'bus_station_ID', '표준버스정류장ID': 'bus_station_SID'}

test.rename(columns=columns, inplace=True)

In [ ]:
# 승하차 칼럼명 변경
for hour in range(6, 22):
    ride_column = f'{hour}시승차총승객수'
    new_ride_column = f'{hour}~{hour+1}_ride'
    test.rename(columns={ride_column: new_ride_column}, inplace=True)

    takeoff_column = f'{hour}시하차총승객수'
    new_takeoff_column = f'{hour}~{hour+1}_takeoff'
    test.rename(columns={takeoff_column: new_takeoff_column}, inplace=True)

In [ ]:
test.columns

Index(['month', 'bus_ID', 'bus_station_SID', '6~7_ride', '6~7_takeoff',
       '7~8_ride', '7~8_takeoff', '8~9_ride', '8~9_takeoff', '9~10_ride',
       '9~10_takeoff', '10~11_ride', '10~11_takeoff', '11~12_ride',
       '11~12_takeoff', '12~13_ride', '12~13_takeoff', '13~14_ride',
       '13~14_takeoff', '14~15_ride', '14~15_takeoff', '15~16_ride',
       '15~16_takeoff', '16~17_ride', '16~17_takeoff', '17~18_ride',
       '17~18_takeoff', '18~19_ride', '18~19_takeoff', '19~20_ride',
       '19~20_takeoff', '20~21_ride', '20~21_takeoff', '21~22_ride',
       '21~22_takeoff', 'type', 'bus_station_ID'],
      dtype='object')

### 6) 2시간씩 묶기

In [ ]:
ride_columns = [col for col in test.columns if '_ride' in col]
takeoff_columns = [col for col in test.columns if '_takeoff' in col]

# 새로운 칼럼 이름
new_ride_columns = ['6~8_ride', '8~10_ride', '10~12_ride', '12~14_ride', '14~16_ride', '16~18_ride', '18~20_ride', '20~22_ride']
new_takeoff_columns = ['6~8_takeoff', '8~10_takeoff', '10~12_takeoff', '12~14_takeoff', '14~16_takeoff', '16~18_takeoff', '18~20_takeoff', '20~22_takeoff']

# 각 시간대에 대해 ride와 takeoff 칼럼을 합쳐서 새로운 칼럼 생성
for i in range(len(new_ride_columns)):
    ride_column_names = ride_columns[i:i+2]
    takeoff_column_names = takeoff_columns[i:i+2]

    test[new_ride_columns[i]] = test[ride_column_names].sum(axis=1)
    test[new_takeoff_columns[i]] = test[takeoff_column_names].sum(axis=1)

columns_to_keep = ['month', 'bus_station_SID', 'bus_station_ID', 'bus_ID', 'type']
test.drop(columns=ride_columns + takeoff_columns, inplace=True)
test = test[columns_to_keep + new_ride_columns + new_takeoff_columns]

In [ ]:
test.columns

Index(['month', 'bus_station_SID', 'bus_station_ID', 'bus_ID', 'type',
       '6~8_ride', '8~10_ride', '10~12_ride', '12~14_ride', '14~16_ride',
       '16~18_ride', '18~20_ride', '20~22_ride', '6~8_takeoff', '8~10_takeoff',
       '10~12_takeoff', '12~14_takeoff', '14~16_takeoff', '16~18_takeoff',
       '18~20_takeoff', '20~22_takeoff'],
      dtype='object')

In [ ]:
test.head(2)

,month,bus_station_SID,bus_station_ID,bus_ID,type,6~8_ride,8~10_ride,10~12_ride,12~14_ride,14~16_ride,...,18~20_ride,20~22_ride,6~8_takeoff,8~10_takeoff,10~12_takeoff,12~14_takeoff,14~16_takeoff,16~18_takeoff,18~20_takeoff,20~22_takeoff
1,202309,100000001,00066,470,서울간선버스,699,1160,1292,1196,1191,...,988,886,349,629,716,711,788,904,882,883
3,202309,100000001,00075,741,서울간선버스,524,789,838,741,588,...,627,648,358,637,816,848,825,838,868,887

### 7) 카테고리형 피처 처리

1) bus_id(기존 노선번호) 대신 노선 정보에서 routeID (노선 고유 ID)로 대체하기  

https://data.seoul.go.kr/dataList/OA-15262/S/1/datasetView.do

In [ ]:
route_info = pd.read_csv(path+'data/route_info.csv', encoding='utf-8')
route_info.rename(columns={'노선명': 'bus_ID', 'ROUTEID': 'route_ID'}, inplace=True)
route_info

    bus_ID   route_ID
0     0017  100100124
1      01A  100100001
2      01B  106000004
3     0411  104000012
4      100  100100549
..     ...        ...
671   종로11  100900007
672   종로12  100900009
673   종로13  100900002
674   중랑01  106900001
675   중랑02  106900002

[676 rows x 2 columns]

In [ ]:
test = pd.merge(test, route_info, on='bus_ID', how='left')
test

,month,bus_station_SID,bus_station_ID,bus_ID,type,6~8_ride,8~10_ride,10~12_ride,12~14_ride,14~16_ride,...,20~22_ride,6~8_takeoff,8~10_takeoff,10~12_takeoff,12~14_takeoff,14~16_takeoff,16~18_takeoff,18~20_takeoff,20~22_takeoff,route_ID
0,202309,100000001,00066,470,서울간선버스,699,1160,1292,1196,1191,...,886,349,629,716,711,788,904,882,883,100100073.0
1,202309,100000001,00075,741,서울간선버스,524,789,838,741,588,...,648,358,637,816,848,825,838,868,887,123000010.0
2,202309,100000002,00031,100,서울간선버스,258,439,546,434,313,...,252,681,998,977,693,464,355,366,412,100100549.0
3,202309,100000002,00024,104,서울간선버스,295,601,689,484,420,...,422,953,1503,1377,794,575,427,471,546,100100009.0
4,202309,100000002,00012,171,서울간선버스,578,943,911,707,651,...,521,799,1661,1682,839,417,298,361,369,100100036.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
113141,202311,999800002,00081,672,서울간선버스,0,0,0,0,0,...,0,0,0,0,0,1,1,0,0,100100495.0
113142,202311,999800003,00001,9404,서울광역버스,3,1,2,2,3,...,3,7,3,1,0,0,0,2,2,100100391.0
113143,202311,999800004,00060,9404,서울광역버스,0,0,0,0,0,...,0,5,2,1,2,1,0,0,0,100100391.0
113144,202311,999800005,00127,9701,서울광역버스,0,0,0,0,0,...,0,0,17,19,5,4,2,2,2,100100397.0
113145,202311,999800005,00078,9707,서울광역버스,0,0,0,0,0,...,0,0,16,22,10,5,3,8,7,100100400.0

In [ ]:
null_routes_df = test[test['route_ID'].isnull()][['bus_ID']].drop_duplicates()
print("route_ID 값이 null인 bus_ID:")
print(null_routes_df)

route_ID 값이 null인 bus_ID:
      bus_ID
40        01
1592    8001
4029    9403
13975   은평01
17151   마포14
17752   6649
23237   6654

버스 노선 고유 아이디 (route_ID)와 매핑되지 못한 데이터 처리

In [ ]:
null_routes = {'01': 100100001, '8001': 106000004, '9403': 100100390,
               '은평01': 111900002, '마포14': 113900006, '6649': 114000001, '6654': 100100322}
null_routes = pd.DataFrame.from_dict(null_routes, orient='index', columns=['route_ID']).reset_index()
null_routes.columns = ['bus_ID', 'route_ID']

null_routes

  bus_ID   route_ID
0     01  100100001
1   8001  106000004
2   9403  100100390
3   은평01  111900002
4   마포14  113900006
5   6649  114000001
6   6654  100100322

In [ ]:
test = pd.merge(test, null_routes, on='bus_ID', how='left')
test

,month,bus_station_SID,bus_station_ID,bus_ID,type,6~8_ride,8~10_ride,10~12_ride,12~14_ride,14~16_ride,...,6~8_takeoff,8~10_takeoff,10~12_takeoff,12~14_takeoff,14~16_takeoff,16~18_takeoff,18~20_takeoff,20~22_takeoff,route_ID_x,route_ID_y
0,202309,100000001,00066,470,서울간선버스,699,1160,1292,1196,1191,...,349,629,716,711,788,904,882,883,100100073.0,NaN
1,202309,100000001,00075,741,서울간선버스,524,789,838,741,588,...,358,637,816,848,825,838,868,887,123000010.0,NaN
2,202309,100000002,00031,100,서울간선버스,258,439,546,434,313,...,681,998,977,693,464,355,366,412,100100549.0,NaN
3,202309,100000002,00024,104,서울간선버스,295,601,689,484,420,...,953,1503,1377,794,575,427,471,546,100100009.0,NaN
4,202309,100000002,00012,171,서울간선버스,578,943,911,707,651,...,799,1661,1682,839,417,298,361,369,100100036.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
113141,202311,999800002,00081,672,서울간선버스,0,0,0,0,0,...,0,0,0,0,1,1,0,0,100100495.0,NaN
113142,202311,999800003,00001,9404,서울광역버스,3,1,2,2,3,...,7,3,1,0,0,0,2,2,100100391.0,NaN
113143,202311,999800004,00060,9404,서울광역버스,0,0,0,0,0,...,5,2,1,2,1,0,0,0,100100391.0,NaN
113144,202311,999800005,00127,9701,서울광역버스,0,0,0,0,0,...,0,17,19,5,4,2,2,2,100100397.0,NaN
113145,202311,999800005,00078,9707,서울광역버스,0,0,0,0,0,...,0,16,22,10,5,3,8,7,100100400.0,NaN

In [ ]:
test['route_ID'] = test['route_ID_x'].fillna(test['route_ID_y'])
test.drop(['route_ID_x', 'route_ID_y'], axis=1, inplace=True)
test.insert(4, 'route_ID', test.pop('route_ID'))

In [ ]:
test.head(2)

,month,bus_station_SID,bus_station_ID,bus_ID,route_ID,type,6~8_ride,8~10_ride,10~12_ride,12~14_ride,...,18~20_ride,20~22_ride,6~8_takeoff,8~10_takeoff,10~12_takeoff,12~14_takeoff,14~16_takeoff,16~18_takeoff,18~20_takeoff,20~22_takeoff
0,202309,100000001,00066,470,100100073.0,서울간선버스,699,1160,1292,1196,...,988,886,349,629,716,711,788,904,882,883
1,202309,100000001,00075,741,123000010.0,서울간선버스,524,789,838,741,...,627,648,358,637,816,848,825,838,868,887

전부 매핑된 것을 확인할 수 있음

In [ ]:
null_routes_df = test[test['route_ID'].isnull()][['bus_ID']]
print("route_ID 값이 null인 bus_ID:")
print(null_routes_df)

route_ID 값이 null인 bus_ID:
Empty DataFrame
Columns: [bus_ID]
Index: []


2) type을 서울간선버스 - 0, 서울지선버스-1, 서울마을버스-2, 서울광역버스 -3으로 카테고리화

In [ ]:
type_mapping = {
    '서울간선버스': 0,
    '서울지선버스': 1,
    '서울마을버스': 2,
    '서울광역버스': 3
}
test['type'].replace(type_mapping, inplace=True)

test.head(3)

,month,bus_station_SID,bus_station_ID,bus_ID,route_ID,type,6~8_ride,8~10_ride,10~12_ride,12~14_ride,...,18~20_ride,20~22_ride,6~8_takeoff,8~10_takeoff,10~12_takeoff,12~14_takeoff,14~16_takeoff,16~18_takeoff,18~20_takeoff,20~22_takeoff
0,202309,100000001,00066,470,100100073.0,0,699,1160,1292,1196,...,988,886,349,629,716,711,788,904,882,883
1,202309,100000001,00075,741,123000010.0,0,524,789,838,741,...,627,648,358,637,816,848,825,838,868,887
2,202309,100000002,00031,100,100100549.0,0,258,439,546,434,...,256,252,681,998,977,693,464,355,366,412

In [ ]:
print("결측치 개수:\n",  test.isna().sum())

결측치 개수:
 month              0
bus_station_SID    0
bus_station_ID     0
bus_ID             0
route_ID           0
type               0
6~8_ride           0
8~10_ride          0
10~12_ride         0
12~14_ride         0
14~16_ride         0
16~18_ride         0
18~20_ride         0
20~22_ride         0
6~8_takeoff        0
8~10_takeoff       0
10~12_takeoff      0
12~14_takeoff      0
14~16_takeoff      0
16~18_takeoff      0
18~20_takeoff      0
20~22_takeoff      0
dtype: int64

## 2. 파일로 저장

In [ ]:
test.to_csv(path+'test.csv', index=False)